/* my styles! */

html {
    font-family: 'Times New Roman', Times, serif
}

.acm-logo {
    width: 250px;
    
}
#skills-header {
    font-size: 50px;
    color: blue;
}
#header {
    color: black;
}

.contract-box {
    border: 1px solid black;
}

.info-box {
    padding: 18px;
    border: 1px solid black;
    margin-top: 20px;
}

.grid-2 {
    display: grid;
    grid-template-columns: auto auto;
}

.padding-e {
    padding: 10px;
}
.margin-e {
    margin:  10px;
}

.navbar {
    display: grid;
    grid-template-columns: auto auto;
    border-bottom: 1px solid black;
    background-color: beige;
  }
.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
}
.background-color {
    background-color: beige;
}
.text-right{
    text-align: right;
  }